.bg-verde {
    background-color: #cdffb7; /* Fondo verde claro */
    color: darkgreen; /* Texto verde oscuro */
    opacity: 0.5; /* Opacidad baja */
}

.headerC{
    background-color: #f0faff
}

.footerC{
    background-color: #f0faff
}
.bordeC{
    border: 0.01px solid #cecece;
    border-radius: 5px;
}