.bg-verde {
    background-color: #cdffb7; /* Fondo verde claro */
    color: darkgreen; /* Texto verde oscuro */
    opacity: 0.5; /* Opacidad baja */
}

.headerC{
    background-color: #f0faff
}

.bg-rojo {
    background-color: #ffcccc; /* Fondo rojo claro */
    color: darkred; /* Texto rojo oscuro */
    opacity: 0.5; /* Opacidad baja */
}

.footerC{
    background-color: #f0faff
}
.bordeC{
    border: 0.01px solid #cecece;
    border-radius: 5px;
}
.navB {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    height: 60px;
}